body {
    margin: 0;
    padding: 0;
}


.sticky-section {
    position: relative;
    height: 150vh;
}

.spacer{
    height: 100vh;
}
.container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    position: sticky;
    top: 35%;
    background: white;
    padding: 20px 0;
    box-sizing: border-box;
}


.box {
    width: 100px;
    height: 100px;
    background: black;
    transform: rotate(0deg);
    animation: rotateAnimation linear both;
    animation-timeline: scroll();
}

.box:nth-child(1) {
    animation-range: 25% 35%;
}

.box:nth-child(2) {
    animation-range: 35% 45%;
}

.box:nth-child(3) {
    animation-range: 45% 65%;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .container {
        align-items: center;
        gap: 50px;
    }

    .box {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .box {
        width: 60px;
        height: 60px;
    }
}
